# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# FAISS Vector Store
vectorstore/

# Environment Variables
.env

# VS Code Settings
.vscode/

data/sample.pdf

# OS Files
.DS_Store
Thumbs.db